body {
  background: #f3f6fd;
  font-weight: 400;
}
.app {
  display: flex;
  gap: 50px;
}
.panel {
  background: white;
  min-height: 100vh;
  padding: 30px;
}
.logo {
  margin-bottom: 50px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.icon {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  height: 45px;
  width: 45px;
}
.icon:hover {
  background: #6a6afb;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 1);
}
.icon:hover img {
  filter: brightness(0) invert(1);
}
.icon_active {
  background: #6a6afb;
}
.icon_active img {
  filter: brightness(0) invert(1);
}
.menu__add {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cad5ff;
  border-radius: 14px;
  height: 45px;
  width: 45px;
}
.menu__add:hover {
  background: #e7ebff;
}
.content {
  width: 900px;
  padding: 50px;
}
.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  min-width: 235px;
}

.progress__text {
  display: flex;
  justify-content: space-between;
}
.progress__name {
  font-size: 20px;
  line-height: 16px;
  color: #232360;
}
.progress__percent {
  font-size: 20px;
  line-height: 16px;
  color: #232360;
}
.progress__bar {
  width: 100%;
  background: #e6e9ed;
  border-radius: 4px;
  height: 5px;
  position: relative;
}
.progress__cover-bar {
  transition: all 0.3s ease-in-out;
  position: absolute;
  border-radius: 4px;
  height: 5px;
  background: #5051f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
main {
  margin-top: 30px;
}
h1 {
  font-size: 30px;
  line-height: 33px;
  color: #000000;
}

.habbit {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 0 10px 10px 0;
  margin-bottom: 12px;
}

.habbit__day {
  background: #fbfaff;
  padding: 20px 40px;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e7ebfb;
  font-size: 14px;
  line-height: 16px;
}

.habbit__comment {
  color: #23235f;
  width: 76%;
  padding: 20px 40px;
  background-color: #fff;
  font-size: 16px;
  line-height: 16px;
}

.habbit__delete {
  border: 5px;
  transition: all 0.3s ease-in-out;
  margin-left: auto;
  margin-right: 10px;
  padding: 5px;
  border-radius: 8px;
}

.habbit__delete:hover {
  background: #e6e9ed;
  transform: translateY(-3px);
}
.habbit__input {
  flex: 1;
  padding: 15px 50px;
  border-radius: 8px;
  border: 1px solid #e7ebfb;
  margin-left: 20px;
}
.habbit__input::placeholder {
  color: #8899a8;
  font-size: 14px;
}

.habbit__add {
  background: #edecfe;
  padding: 12px 30px;
  border-radius: 8px;
  color: #5051f9;
}
.habbit__add:hover {
  background: #cdcddd;
}

.habbit__form {
  position: relative;
  width: 84%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.input__icon {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}
input.error {
  border: 1px solid rgb(231, 88, 88);
}

/* Popup */
.cover {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1) translateX(0);
  visibility: visible;
  opacity: 1;
  background: rgba(56, 56, 56, 0.25);
}
.cover.cover__hidden {
  transition: all 0.3Ws ease-in-out;
  transform: scale(0) translateX(-1000px);
  visibility: hidden;
  opacity: 0;
}
.popup {
  background: #ffffff;
  box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.25);
  border-radius: 10px;
  min-width: 600px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-select {
  display: flex;
  flex-direction: column;
}
.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
}
.popup__form > input {
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 10px;
  max-width: 400px;
  width: 100%;
}
.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.icon-label {
  padding: 20px 0;
}
.popup-button {
  max-width: 400px;
  width: 100%;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
